<style>

body {

    background-color: #99ccff
}

    a:link {
        color: black;
    }

    a:visited {
        color: black;
    }

    form {
        background-color: white;
        padding: 2%;
    }

    .yourcomment {
        width: 100%;
    }

</style>

<div class="container">
    <h1>Vox Top Stories</h1>
    <br>
    {{#each articles}}
    <div class="jumbotron">
        <h2><a href={{link}} target="_blank">{{title}}</a></h2>
        <hr class="my-4">
        <p>Summary: {{summary}}</p>
        <br>
        <div class="container comments" data-id="{{_id}}">
            <h3>Comments: </h3>
            <form>
                <p>Add your comment here</p>
                Username:<br>
                <input type='text' name='username' class="username">
                <br><br>
                Comment:<br>
                <textarea rows="3" name='yourcomment' class="yourcomment"></textarea>
                <br><br>
                 <button class="btn btn-primary add-comment" data-id={{_id}}>Add Comment</button>
            </form>
            <br>
           {{>comments}}
        </div>
    </div>
    <br>
    {{/each}}
</div>

<script>

    $(".add-comment").click(function (event) {

            event.preventDefault();

            var username = ($(this).parent().find(".username").val());
            var comment = ($(this).parent().find(".yourcomment").val());
            var CommentID = $(this).attr("data-id");

            $.ajax({
                method: "POST",
                url: "/articles/" + CommentID,
                data: {

                    username: username,
                    body: comment

                },
                success: location.reload()
            });
        });
    
    $(".delete-comment").click(function(event){
        event.preventDefault();

        $.ajax({
            method: "DELETE",
            url: "/comment/" + ($(this).attr("data-id")),
            success: location.reload()
        });
    });   

</script>